<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Restored Target" sequenceNumber="22">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.mockito" version="1.8.4.v201102171835"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120119162704/repository"/>
</location>
<location path="/Users/ds/Java/jbehave-eclipse-plugin/target" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.7.2.v20120120-1414-7z8gFcuFMP7BW5XTz0jLTnz0l9B1"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
</target>
