<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Restored Target" sequenceNumber="30">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.testng.eclipse.feature.group" version="6.4.0.20120308_1617"/>
<repository location="http://beust.com/eclipse/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.7.2.v20120120-1414-7z8gFcuFMP7BW5XTz0jLTnz0l9B1"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.mockito" version="1.8.4.v201102171835"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120119162704/repository"/>
</location>
<location path="${project_loc}/lib" type="Directory"/>
</locations>
<includeBundles>
<plugin id="org.apache.commons.httpclient.source"/>
<plugin id="org.eclipse.equinox.registry.source" version="3.5.101.R37x_v20110810-1611"/>
<plugin id="org.eclipse.jface.source" version="3.7.0.v20110928-1505"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator" version="2.0.0.v20110815-1438"/>
<plugin id="org.eclipse.debug.core" version="3.7.1.v20111129-2031"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
<plugin id="org.eclipse.help.base.source"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.apache.commons.el"/>
<plugin id="org.eclipse.ui.ide.source" version="3.7.0.v20110928-1505"/>
<plugin id="org.eclipse.core.externaltools"/>
<plugin id="org.eclipse.ecf.identity.source"/>
<plugin id="org.eclipse.core.filebuffers" version="3.5.200.v20110928-1504"/>
<plugin id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<plugin id="org.eclipse.ui.workbench" version="3.7.1.v20120104-1859"/>
<plugin id="org.eclipse.jdt.launching.ui.macosx"/>
<plugin id="org.mortbay.jetty.server"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl.source"/>
<plugin id="org.eclipse.jdt.ui" version="3.7.2.v20120109-1427"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox.source" version="1.0.300.v20110815-1438"/>
<plugin id="org.eclipse.ltk.core.refactoring.source" version="3.5.201.r372_v20111101-0700"/>
<plugin id="org.eclipse.ui.intro.universal"/>
<plugin id="org.eclipse.debug.ui.source" version="3.7.102.v20111129-1423_r372"/>
<plugin id="org.hamcrest.generator"/>
<plugin id="org.eclipse.ui.navigator.resources" version="3.4.300.v20110928-1505"/>
<plugin id="org.eclipse.jdt.launching" version="3.6.1.v20111006_r372"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.equinox.p2.publisher.eclipse"/>
<plugin id="org.eclipse.ecf.source"/>
<plugin id="org.eclipse.text" version="3.5.101.v20110928-1504"/>
<plugin id="org.junit.source" version="3.8.2.v3_8_2_v20100427-1100"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.ui.views.properties.tabbed" version="3.5.200.v20110928-1505"/>
<plugin id="org.apache.commons.httpclient"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source" version="3.7.0.v20110928-1504"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="org.eclipse.core.runtime.source" version="3.7.0.v20110110"/>
<plugin id="org.eclipse.ui.presentations.r21.source"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler.source"/>
<plugin id="org.eclipse.equinox.p2.transport.ecf.source"/>
<plugin id="org.eclipse.core.jobs.source" version="3.5.101.v20120113-1953"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins.source"/>
<plugin id="org.eclipse.ui.net"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source" version="1.0.200.v20110815-1438"/>
<plugin id="org.eclipse.jdt.apt.pluggable.core.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator.source" version="2.0.0.v20110815-1438"/>
<plugin id="org.eclipse.jface" version="3.7.0.v20110928-1505"/>
<plugin id="org.eclipse.core.boot"/>
<plugin id="org.eclipse.ui.externaltools.source"/>
<plugin id="org.eclipse.ui.browser"/>
<plugin id="org.eclipse.jdt.ui.source" version="3.7.2.v20120109-1427"/>
<plugin id="org.apache.commons.codec.source"/>
<plugin id="org.eclipse.platform.doc.user"/>
<plugin id="org.apache.lucene.core.source"/>
<plugin id="org.eclipse.equinox.concurrent.source"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.jface.databinding.source" version="1.5.0.I20100907-0800"/>
<plugin id="org.eclipse.ui.cocoa"/>
<plugin id="org.eclipse.core.filesystem.macosx"/>
<plugin id="org.eclipse.ant.core" version="3.2.302.v20120110-1739"/>
<plugin id="org.eclipse.ui.browser.source"/>
<plugin id="org.eclipse.update.core.source"/>
<plugin id="org.apache.lucene.highlighter"/>
<plugin id="org.eclipse.rcp.source"/>
<plugin id="org.eclipse.equinox.p2.console.source"/>
<plugin id="org.eclipse.equinox.common" version="3.6.0.v20110523"/>
<plugin id="org.eclipse.equinox.p2.director.app"/>
<plugin id="org.eclipse.team.ui.source" version="3.6.101.R37x_v20111109-0800"/>
<plugin id="org.apache.lucene.memory"/>
<plugin id="org.eclipse.help.source" version="3.5.100.v20110426"/>
<plugin id="org.eclipse.osgi" version="3.7.2.v20120110-1415"/>
<plugin id="org.eclipse.core.databinding.observable.source" version="1.4.0.I20110222-0800"/>
<plugin id="org.eclipse.compare.core.source" version="3.5.200.I20110208-0800"/>
<plugin id="org.eclipse.equinox.preferences" version="3.4.2.v20120111-2020"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.debug.ui" version="3.7.102.v20111129-1423_r372"/>
<plugin id="org.eclipse.equinox.app" version="1.3.100.v20110321"/>
<plugin id="org.eclipse.team.core.source" version="3.6.0.I20110525-0800"/>
<plugin id="org.eclipse.help.webapp"/>
<plugin id="org.hamcrest.text"/>
<plugin id="org.apache.lucene.misc.source"/>
<plugin id="org.eclipse.core.databinding.source" version="1.4.0.I20110111-0800"/>
<plugin id="org.eclipse.jdt.debug.ui.source" version="3.6.1.v20111006_r372"/>
<plugin id="org.apache.lucene"/>
<plugin id="org.eclipse.help.webapp.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry.source"/>
<plugin id="org.eclipse.core.contenttype.source" version="3.4.100.v20110423-0524"/>
<plugin id="org.eclipse.ui.workbench.source" version="3.7.1.v20120104-1859"/>
<plugin id="org.eclipse.equinox.p2.core.source" version="2.1.1.v20120113-1346"/>
<plugin id="org.eclipse.core.filebuffers.source" version="3.5.200.v20110928-1504"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.jdt.apt.ui.source"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.apache.lucene.source"/>
<plugin id="org.eclipse.ui.views.properties.tabbed.source" version="3.5.200.v20110928-1505"/>
<plugin id="org.eclipse.jdt.debug.source" version="3.7.1.v20111006_r372"/>
<plugin id="org.hamcrest.text.source"/>
<plugin id="org.hamcrest.core.source" version="1.1.0.v20090501071000"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation.source"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="org.eclipse.ui.views.source" version="3.6.0.v20110928-1505"/>
<plugin id="org.eclipse.ui.editors" version="3.7.0.v20110928-1504"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source" version="1.2.0.v20110815-1419"/>
<plugin id="org.apache.lucene.highlighter.source"/>
<plugin id="org.eclipse.core.net.source"/>
<plugin id="org.hamcrest.integration"/>
<plugin id="org.eclipse.equinox.p2.repository" version="2.1.1.v20120113-1346"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.source"/>
<plugin id="org.eclipse.equinox.p2.repository.tools"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
<plugin id="org.eclipse.jface.databinding" version="1.5.0.I20100907-0800"/>
<plugin id="org.eclipse.jdt.junit4.runtime.source"/>
<plugin id="org.eclipse.equinox.p2.ui.importexport.source"/>
<plugin id="org.apache.lucene.core"/>
<plugin id="org.eclipse.compare" version="3.5.202.R37x_v20111109-0800"/>
<plugin id="org.eclipse.ui.console" version="3.5.100.v20111007_r372"/>
<plugin id="org.eclipse.update.ui"/>
<plugin id="org.eclipse.core.runtime" version="3.7.0.v20110110"/>
<plugin id="org.eclipse.jdt.core.source" version="3.7.3.v20120119-1537"/>
<plugin id="org.eclipse.help.appserver.source"/>
<plugin id="org.eclipse.swt.cocoa.macosx.x86_64.source"/>
<plugin id="org.eclipse.ui.source" version="3.7.0.v20110928-1505"/>
<plugin id="org.eclipse.jdt.core.manipulation.source" version="1.4.0.v20110928-1453"/>
<plugin id="org.eclipse.ui.intro.universal.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator" version="1.0.200.v20110815-1438"/>
<plugin id="org.eclipse.equinox.http.jetty.source"/>
<plugin id="org.eclipse.core.databinding.property" version="1.4.0.I20110222-0800"/>
<plugin id="org.eclipse.ui.ide.application.source"/>
<plugin id="org.eclipse.help.appserver"/>
<plugin id="org.eclipse.osgi.util.source"/>
<plugin id="org.eclipse.equinox.p2.ql"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.eclipse.equinox.frameworkadmin.source" version="2.0.0.v20110815-1438"/>
<plugin id="org.eclipse.jdt.launching.ui.macosx.source"/>
<plugin id="javax.servlet.source"/>
<plugin id="org.eclipse.equinox.p2.engine.source" version="2.1.1.R37x_v20111003"/>
<plugin id="org.sat4j.core"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.jdt.junit" version="3.7.0.v20110928-1453"/>
<plugin id="org.eclipse.jdt.apt.core"/>
<plugin id="org.hamcrest"/>
<plugin id="org.eclipse.ui.externaltools"/>
<plugin id="org.eclipse.ui" version="3.7.0.v20110928-1505"/>
<plugin id="org.eclipse.equinox.preferences.source" version="3.4.2.v20120111-2020"/>
<plugin id="org.eclipse.equinox.security.macosx.source"/>
<plugin id="org.apache.ant" version="1.8.2.v20120109-1030"/>
<plugin id="org.eclipse.help" version="3.5.100.v20110426"/>
<plugin id="com.thoughtworks.qdox.source"/>
<plugin id="org.eclipse.equinox.common.source" version="3.6.0.v20110523"/>
<plugin id="org.eclipse.jdt.junit.source" version="3.7.0.v20110928-1453"/>
<plugin id="org.eclipse.equinox.registry" version="3.5.101.R37x_v20110810-1611"/>
<plugin id="org.eclipse.ui.navigator" version="3.5.101.v20120106-1355"/>
<plugin id="org.eclipse.ui.cheatsheets.source"/>
<plugin id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<plugin id="org.junit" version="3.8.2.v3_8_2_v20100427-1100"/>
<plugin id="org.eclipse.equinox.p2.console"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository" version="1.2.0.v20110815-1419"/>
<plugin id="org.eclipse.compare.core" version="3.5.200.I20110208-0800"/>
<plugin id="org.eclipse.core.databinding.observable" version="1.4.0.I20110222-0800"/>
<plugin id="org.eclipse.equinox.security.source" version="1.1.1.R37x_v20110822-1018"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector.source"/>
<plugin id="org.eclipse.core.filesystem.source" version="1.3.100.v20110423-0524"/>
<plugin id="org.eclipse.core.variables" version="3.2.500.v20110928-1503"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient"/>
<plugin id="org.testng"/>
<plugin id="org.easymock.source"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.equinox.p2.director.app.source"/>
<plugin id="org.eclipse.ltk.ui.refactoring" version="3.6.0.v20110928-1453"/>
<plugin id="org.eclipse.osgi.services.source" version="3.3.0.v20110513"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.eclipse.core.expressions" version="3.4.300.v20110228"/>
<plugin id="org.eclipse.jdt.compiler.apt"/>
<plugin id="org.eclipse.jdt.compiler.tool.source"/>
<plugin id="org.apache.lucene.spellchecker"/>
<plugin id="org.eclipse.jdt.debug.ui" version="3.6.1.v20111006_r372"/>
<plugin id="org.apache.commons.io.source"/>
<plugin id="org.apache.lucene.snowball"/>
<plugin id="org.eclipse.jdt.compiler.apt.source"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.jdt.junit.core.source" version="3.7.0.v20110928-1453"/>
<plugin id="org.mortbay.jetty.server.source"/>
<plugin id="org.eclipse.equinox.p2.repository.source" version="2.1.1.v20120113-1346"/>
<plugin id="org.apache.commons.el.source"/>
<plugin id="org.eclipse.core.runtime.compatibility"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.mortbay.jetty.util"/>
<plugin id="org.eclipse.equinox.p2.core" version="2.1.1.v20120113-1346"/>
<plugin id="org.apache.lucene.analysis.source"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry.source"/>
<plugin id="org.eclipse.osgi.source" version="3.7.2.v20120110-1415"/>
<plugin id="com.ibm.icu" version="4.4.2.v20110823"/>
<plugin id="org.eclipse.ecf.ssl.source"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.eclipse.equinox.p2.updatesite.source"/>
<plugin id="org.eclipse.core.resources.source" version="3.7.101.v20120125-1505"/>
<plugin id="org.eclipse.jdt.apt.ui"/>
<plugin id="org.eclipse.update.scheduler.source"/>
<plugin id="com.ibm.icu.source" version="4.4.2.v20110823"/>
<plugin id="org.eclipse.jdt"/>
<plugin id="org.eclipse.equinox.p2.publisher.eclipse.source"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox" version="1.0.300.v20110815-1438"/>
<plugin id="org.eclipse.ecf.filetransfer.source"/>
<plugin id="org.eclipse.update.scheduler"/>
<plugin id="org.eclipse.ui.navigator.source" version="3.5.101.v20120106-1355"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.apache.lucene.queries.source"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher.source"/>
<plugin id="org.eclipse.search" version="3.7.0.v20110928-1504"/>
<plugin id="org.eclipse.core.databinding" version="1.4.0.I20110111-0800"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor.source"/>
<plugin id="org.objenesis"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.eclipse.equinox.p2.transport.ecf"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
<plugin id="org.eclipse.equinox.p2.ui"/>
<plugin id="org.eclipse.ui.navigator.resources.source" version="3.4.300.v20110928-1505"/>
<plugin id="org.eclipse.core.contenttype" version="3.4.100.v20110423-0524"/>
<plugin id="org.eclipse.jdt.doc.user"/>
<plugin id="org.eclipse.equinox.p2.metadata" version="2.1.0.v20110815-1419"/>
<plugin id="org.eclipse.ui.console.source" version="3.5.100.v20111007_r372"/>
<plugin id="org.eclipse.jdt.junit.runtime" version="3.4.300.v20110928-1453"/>
<plugin id="org.eclipse.update.ui.source"/>
<plugin id="org.eclipse.ltk.ui.refactoring.source" version="3.6.0.v20110928-1453"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins"/>
<plugin id="org.sat4j.pb"/>
<plugin id="org.eclipse.ant.launching"/>
<plugin id="org.apache.ant.source" version="1.8.2.v20120109-1030"/>
<plugin id="org.eclipse.core.expressions.source" version="3.4.300.v20110228"/>
<plugin id="org.eclipse.swt.cocoa.macosx.x86_64"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.core.externaltools.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth" version="3.2.200.v20110110"/>
<plugin id="org.eclipse.ui.presentations.r21"/>
<plugin id="org.eclipse.equinox.p2.publisher"/>
<plugin id="org.eclipse.equinox.p2.repository.tools.source"/>
<plugin id="org.eclipse.equinox.launcher.cocoa.macosx.x86_64"/>
<plugin id="org.eclipse.ui.intro.source"/>
<plugin id="org.eclipse.jsch.ui.source"/>
<plugin id="org.eclipse.equinox.p2.ql.source"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="org.eclipse.jface.text.source" version="3.7.2.v20111213-1208"/>
<plugin id="org.apache.lucene.snowball.source"/>
<plugin id="org.eclipse.jdt.source"/>
<plugin id="org.eclipse.equinox.jsp.jasper.source"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.equinox.p2.updatechecker.source"/>
<plugin id="org.eclipse.core.variables.source" version="3.2.500.v20110928-1503"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.source"/>
<plugin id="org.eclipse.jdt.launching.source" version="3.6.1.v20111006_r372"/>
<plugin id="org.eclipse.ant.ui"/>
<plugin id="org.eclipse.jdt.core" version="3.7.3.v20120119-1537"/>
<plugin id="org.eclipse.jdt.launching.macosx"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.apache.jasper.source"/>
<plugin id="org.eclipse.jdt.launching.macosx.source"/>
<plugin id="org.eclipse.ant.core.source" version="3.2.302.v20120110-1739"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository.source"/>
<plugin id="org.eclipse.jdt.junit.runtime.source" version="3.4.300.v20110928-1453"/>
<plugin id="com.thoughtworks.qdox"/>
<plugin id="org.eclipse.jdt.core.manipulation" version="1.4.0.v20110928-1453"/>
<plugin id="org.eclipse.jdt.apt.core.source"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.equinox.app.source" version="1.3.100.v20110321"/>
<plugin id="org.eclipse.core.commands.source" version="3.6.0.I20110111-0800"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.ui.cocoa.source"/>
<plugin id="org.eclipse.ant.ui.source"/>
<plugin id="org.eclipse.ui.ide.application"/>
<plugin id="org.eclipse.ui.net.source"/>
<plugin id="org.eclipse.core.filesystem" version="1.3.100.v20110423-0524"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk"/>
<plugin id="org.mockito.mockito-all"/>
<plugin id="org.hamcrest.library"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse.source"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
<plugin id="org.eclipse.jdt.compiler.tool"/>
<plugin id="org.eclipse.team.core" version="3.6.0.I20110525-0800"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.eclipse.compare.source" version="3.5.202.R37x_v20111109-0800"/>
<plugin id="org.eclipse.debug.core.source" version="3.7.1.v20111129-2031"/>
<plugin id="org.eclipse.core.resources" version="3.7.101.v20120125-1505"/>
<plugin id="org.eclipse.equinox.p2.operations"/>
<plugin id="org.eclipse.equinox.http.servlet.source"/>
<plugin id="org.eclipse.search.source" version="3.7.0.v20110928-1504"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher"/>
<plugin id="org.eclipse.core.jobs" version="3.5.101.v20120113-1953"/>
<plugin id="org.eclipse.jsch.core.source"/>
<plugin id="org.eclipse.equinox.frameworkadmin" version="2.0.0.v20110815-1438"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.eclipse.equinox.p2.updatechecker"/>
<plugin id="org.eclipse.jsch.ui"/>
<plugin id="org.eclipse.ui.workbench.compatibility"/>
<plugin id="org.eclipse.ant.launching.source"/>
<plugin id="org.eclipse.text.source" version="3.5.101.v20110928-1504"/>
<plugin id="org.eclipse.help.ui.source"/>
<plugin id="org.eclipse.ui.forms.source" version="3.5.101.v20111011-1919"/>
<plugin id="org.eclipse.update.core"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.junit4"/>
<plugin id="org.eclipse.equinox.p2.ui.importexport"/>
<plugin id="org.eclipse.ui.ide" version="3.7.0.v20110928-1505"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="javax.servlet.jsp.source"/>
<plugin id="org.apache.lucene.misc"/>
<plugin id="org.eclipse.equinox.p2.engine" version="2.1.1.R37x_v20111003"/>
<plugin id="org.eclipse.osgi.services" version="3.3.0.v20110513"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.eclipse.equinox.event.source"/>
<plugin id="org.eclipse.jface.text" version="3.7.2.v20111213-1208"/>
<plugin id="org.eclipse.platform.source"/>
<plugin id="org.easymock"/>
<plugin id="org.eclipse.jdt.junit.core" version="3.7.0.v20110928-1453"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.ui.views" version="3.6.0.v20110928-1505"/>
<plugin id="org.eclipse.equinox.security.ui.source"/>
<plugin id="org.eclipse.jdt.debug" version="3.7.1.v20111006_r372"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="org.eclipse.ui.workbench.compatibility.source"/>
<plugin id="org.mortbay.jetty.util.source"/>
<plugin id="org.objenesis.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.source"/>
<plugin id="org.hamcrest.generator.source"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.source"/>
<plugin id="org.hamcrest.library.source"/>
<plugin id="org.apache.lucene.spellchecker.source"/>
<plugin id="org.apache.lucene.queries"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl.source"/>
<plugin id="org.apache.commons.logging.source"/>
<plugin id="org.junit.source" version="4.8.2.v4_8_2_v20110321-1705"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.core.databinding.property.source" version="1.4.0.I20110222-0800"/>
<plugin id="org.eclipse.jdt.junit4.runtime"/>
<plugin id="org.eclipse.ui.workbench.texteditor" version="3.7.0.v20110928-1504"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth.source" version="3.2.200.v20110110"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="org.eclipse.core.commands" version="3.6.0.I20110111-0800"/>
<plugin id="org.eclipse.equinox.p2.operations.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.source" version="2.1.0.v20110815-1419"/>
<plugin id="org.eclipse.equinox.p2.ui.source"/>
<plugin id="org.eclipse.equinox.p2.publisher.source"/>
<plugin id="org.eclipse.equinox.http.registry.source"/>
<plugin id="org.eclipse.update.configurator.source"/>
<plugin id="org.eclipse.equinox.security.macosx"/>
<plugin id="org.hamcrest.integration.source"/>
<plugin id="org.eclipse.team.ui" version="3.6.101.R37x_v20111109-0800"/>
<plugin id="com.jcraft.jsch.source"/>
<plugin id="org.apache.lucene.memory.source"/>
<plugin id="org.eclipse.equinox.security" version="1.1.1.R37x_v20110822-1018"/>
<plugin id="org.eclipse.equinox.p2.director"/>
<plugin id="org.eclipse.equinox.p2.director.source"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives.source"/>
<plugin id="org.eclipse.ltk.core.refactoring" version="3.5.201.r372_v20111101-0700"/>
<plugin id="org.eclipse.jdt.apt.pluggable.core"/>
<plugin id="org.eclipse.swt" version="3.7.2.v3740f"/>
<plugin id="org.eclipse.ui.editors.source" version="3.7.0.v20110928-1504"/>
<plugin id="org.eclipse.ui.forms" version="3.5.101.v20111011-1919"/>
<plugin id="org.eclipse.equinox.jsp.jasper"/>
<plugin id="org.eclipse.equinox.p2.updatesite"/>
</includeBundles>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
</target>
